
{% load static %}

<section id="section1" class="p-5">
    <div class="mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20 p-5 max-w-[1200px] rounded-lg shadow-xl bg-white">
        <div class="flex flex-col justify-start items-center w-auto">
            <img src="{% static 'img/plakar3.png' %}" alt="Plakar" class="rounded-2xl shadow-xl opacity-0 slide-in-left-fast-on-scroll"/><br>
            <h1 class="text-center font-bold opacity-0 slide-in-left-medium-on-scroll">Nameštaj</h1>
            <p class="text-center max-w-[500px] text-xl opacity-0 slide-in-left-slow-on-scroll">Izrađujemo nameštaj po meri, uključujući plakare, kuhinje, komode i druge komade nameštaja koji se savršeno uklapaju u vaš prostor. Naš tim koristi visokokvalitetne materijale i posvećenost detaljima kako bi svaki komad bio funkcionalan i estetski savršen. Pružamo personalizovana rešenja koja odgovaraju vašim potrebama i stilu života.</p>
        </div>
        <div class="flex flex-col justify-start items-center w-auto">
            <img src="{% static 'img/renovation2.png' %}" alt="" class=" rounded-2xl shadow-xl opacity-0 slide-in-right-fast-on-scroll"/><br>
            <h1 class="text-center font-bold opacity-0 slide-in-right-medium-on-scroll">Adaptacija</h1>
            <p class="text-center max-w-[500px] text-xl opacity-0 slide-in-right-slow-on-scroll">Nudimo kompletnu adaptaciju stanova i poslovnih objekata, prilagođenu vašim potrebama i željama. Naš tim stručnjaka brine o svim detaljima, od renoviranja do modernizacije, kako bi vaš prostor bio funkcionalan i estetski savršen. Bilo da se radi o domu ili poslovnom prostoru, pružamo kvalitetna rešenja koja omogućavaju maksimalnu iskoristivost i udobnost.</p>
        </div>
    </div>
</section>

