
{% load static %}

<section id="section2" class="p-5 ">
    <div class="mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20 p-2 max-w-[1200px] rounded-lg shadow-xl ">
        <div class="flex flex-col justify-center items-center w-auto opacity-0 slide-in-left-fast-on-scroll">
            <img src="{% static 'img/home/kuhinja.webp' %}" alt="Kitchen" class=" rounded-2xl shadow-xl"/>
        </div>
        <div class="flex flex-col gap-10 w-auto pr-8 md:pr-64 lg:pr-32 bg-white rounded-xl p-2">
            <p class="opacity-0 slide-in-right-fast-on-scroll">Kuhinje</p>
            <h1 class="text-6xl w-[90%] opacity-0 slide-in-right-fast-on-scroll">Izrada Kuhinja po Meri</h1>
            <p class="text-xl opacity-0 slide-in-right-fast-on-scroll">Bilo da želite kuhinju po meri, komodu koja savršeno odgovara vašoj sobi, ili garderober koji maksimalno koristi prostor, mi pružamo visokokvalitetne usluge izrade nameštaja prema vašim potrebama.</p>
            <p class="text-xl opacity-0 slide-in-right-fast-on-scroll">Svaki komad nameštaja dizajniramo kako bi bio funkcionalan, estetski prijatan i dugotrajan. Naš tim je posvećen stvaranju unikatnih rešenja koja se savršeno uklapaju u vaš prostor.</p>
        </div>
    </div>

    <br><br><br><br><br><br>

    <div class="mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20 p-2 max-w-[1200px] rounded-lg shadow-xl">
        <div class="flex flex-col justify-center items-center w-auto order-1 lg:order-2 opacity-0 slide-in-left-fast-on-scroll">
            <img src="{% static 'img/home/plakar.webp' %}" alt="Closet" class="rounded-2xl shadow-xl"/>
        </div>
        <div class="flex flex-col gap-10 w-auto md:pl-8 md:pl-64 lg:pl-32 order-2 lg:order-1 bg-white rounded-xl p-2">
            <p class="opacity-0 slide-in-right-fast-on-scroll">Plakari</p>
            <h1 class="text-6xl opacity-0 slide-in-right-fast-on-scroll">Izrada Plakara po Meri</h1>
            <p class="text-xl opacity-0 slide-in-right-fast-on-scroll">Bilo da želite kuhinju po meri, komodu koja savršeno odgovara vašoj sobi, ili garderober koji maksimalno koristi prostor, mi pružamo visokokvalitetne usluge izrade nameštaja prema vašim potrebama.</p>
            <p class="text-xl opacity-0 slide-in-right-fast-on-scroll">Svaki komad nameštaja dizajniramo kako bi bio funkcionalan, estetski prijatan i dugotrajan. Naš tim je posvećen stvaranju unikatnih rešenja koja se savršeno uklapaju u vaš prostor.</p>
        </div>
    </div>


</section>



