
{% load static %}

<section id="services" class="mx-auto max-w-[1200px] fade-in-on-scroll ">
    <div class="px-5 grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <div class="transition hover:-translate-y-6 duration-500 ">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/gips.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Gipsani radovi</h3>
                    <p>Izrada gipsanih plafona, pregrada i obloga za postizanje modernog i funkcionalnog enterijera.</p>
                </div>
            </div>
        </div>
        <div class="transition hover:-translate-y-6 duration-500">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/struja.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Električni radovi</h3>
                    <p>Obuhvata zamenu elektroinstalacija, ugradnju novih utičnica, prekidača, osvetljenja i elektro uređaja.</p>
                </div>
            </div>
        </div>
        <div class="transition hover:-translate-y-6 duration-500">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/voda.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Vodovodni radovi</h3>
                    <p>Instalacija novih vodovodnih cevi, zamena starih, postavljanje novih sanitarnih uređaja u kupatilima i kuhinjama.</p>
                </div>
            </div>
        </div>
        <div class="transition hover:-translate-y-6 duration-500">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/plocice.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Postavljanje pločica</h3>
                    <p>Uključuje ugradnju pločica na podovima i zidovima, u kuhinjama, kupatilima i drugim prostorijama.</p>
                </div>
            </div>
        </div>
        <div class="transition hover:-translate-y-6 duration-500">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/podovi.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Zamena poda</h3>
                    <p>Postavljanje novih podova kao što su parket, laminat, pločice ili tepisi, u skladu sa stilom i potrebama prostora.</p>
                </div>
            </div>
        </div>
        <div class="transition hover:-translate-y-6 duration-500">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/rusenje.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Rušenje</h3>
                    <p>Rušenje unutrašnjih zidova i nefunkcionalnih elemenata kako bi se prostor prilagodio novim potrebama.</p>
                </div>
            </div>
        </div>
        <div class="transition hover:-translate-y-6 duration-500">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/stolarija.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Stolarija</h3>
                    <p>Zamena ili ugradnja novih vrata, prozora, roletni, žaluzina i drugih stolarijskih elemenata.</p>
                </div>
            </div>
        </div>
        <div class="transition hover:-translate-y-6 duration-500">
            <div class="rounded-lg shadow-xl bg-white">
                <img src="{% static 'img/services/gips.webp' %}" alt="gips" class="rounded-t-lg"/>
                <div class="p-5">
                    <h3>Gipsani radovi</h3>
                    <p>Izrada gipsanih plafona, pregrada i obloga za postizanje modernog i funkcionalnog enterijera.</p>
                </div>
            </div>
        </div>
    </div>

</section>



